language: python

python:
  - "3.6"

sudo: required
dist: trusty
group: edge


before_install:
  - sudo apt-get -qq update
  - sudo apt-get install wget
  - sudo apt-get install tar
  - sudo apt-get install gzip
  - sudo apt-get install cmake
  - sudo apt-get install libpython3-dev
  - sudo apt-get install bison
  - sudo apt-get install re2c
  - sudo apt-get install g++
  - sudo apt-get install python3-setuptools


install:
  - sudo python3 setup.py develop --user

script:
  - export PYTHONUSERBASE=~/.local/
  - export PATH=$PATH:~/.local/bin
  - chmod +x tests/run-tests.sh
  - cd test/
  - tests/run-tests.sh
